.app.dark {
  background-color: #111;
  color: rgb(156, 156, 156);

  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .table {
    background-color: #111;

    .tableCell {
      color: gray;
    }
  }

  .navbar {
    color: #999;
    border-color: #333;

    .search {
      border-color: gray;
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;

    .top {
      .logo {
        color: #999;
      }
    }
    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: #999;
        }
      }
    }
  }

  .datatable {
    .datagrid {
      color: gray;
      border: none;

      .viewButton,
      .deleteButton,
      .cellWithStatus {
        color: gray;
        border: none;
      }
    }
  }

  input {
    background-color: transparent;
  }

  // mine

  .category {
    .categoryBody {
      .singleCategory {
        box-shadow: 0px 0px 10px 1px #6439ff33;
        .icon {
          color: #554d75;
        }
      }
    }
  }

  .login {
    .loginBody {
      .b-illustration {
        -webkit-filter: invert(1);
        -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
      }
    }
  }
}
