.table {
  .cellWrapper {
    display: flex;
    align-items: center;

    .image {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .linkBox {
      display: flex;
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.596);
      cursor: pointer;
    }
  }

  .status {
    padding: 5px;
    border-radius: 5px;

    &.income {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }
    &.expense {
      color: red;
      background-color: rgba(189, 3, 19, 0.103);
    }
  }
}
